* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #a3a3a3;
}

header {
    height: auto;
    width: 100vw;
    background-color: #a3a3a3;
}

.navbar {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    display: flex;
    width: 100px;
    height: 100px;
    font-weight: bold;
}

span {
    color: rgb(255, 136, 0);
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px;
}

.navbar .nav-links ul li:hover a {
    color: rgb(255, 119, 0);
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    cursor: pointer;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*style galerie*/

/* input {
    display: none;
}

.container_img {
    width: 100%;
    text-align: center;
}

.container_img h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

.container_img h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(237, 118, 0);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.top-content {
    background-color: rgb(237, 236, 236);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.container_img .top-content h3 {
    height: 100%;
    background-color: rgb(255, 136, 0);
    line-height: 60px;
    padding: 0 50px;
    color: #fff;
}

label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

label:hover {
    color: #000;
}

/* Styles pour l'affichage normal */
/*.top-content label {
    display: inline-block;
    margin-right: 10px;
}

/* Styles pour l'affichage mobile 
@media (max-width: 700px) {
    .top-content label {
        display: none;
    }

    .container_img .top-content h3 {
    height: 100%;
    background-color: rgb(255, 136, 0);
    line-height: 60px;
    padding: 0 50px;
    color: #fff;
}

}


.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.pic::before {
    content: "VARENN GALERIE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: .3s;
}

.pic:hover::after {
    height: 100%;
}

.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}

#check1:checked~.container_img .photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked~.container_img .photo-gallery .family {
    transform: scale(0);
    opacity: 1;
    position: absolute;
}

#check2:checked~.container_img .photo-gallery .child

/* #check2:checked ~ .container_img .photo-gallery .place
    {
    opacity: 0;
    transform: scale(1);
    position: absolute;
    transition: .0s;
}

#check3:checked~.container_img .photo-gallery .child {
    transform: scale(0);
    opacity: 1;
    position: absolute;
}

/*#check3:checked ~ .container_img .photo-gallery .family
#check3:checked~.container_img .photo-gallery .place {
    opacity: 0;
    transform: scale(1);
    position: absolute;
    transition: .0s;
}

#check4:checked~.container_img .photo-gallery .place {
    transform: scale(0);
    opacity: 1;
    position: absolute;
}

#check4:checked~.container_img .photo-gallery .family

/*#check4:checked ~ .container_img .photo-gallery .child
    {
    opacity: 0;
    transform: scale(1);
    position: absolute;
    transition: .0s;
}

.popup-imag {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-imag span {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 100px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-imag img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 15px;
    width: 800px;
    object-fit: cover;
}

@media (max-width: 900px) {
    .popup-imag img {
        width: 95%;
    }
} */




/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*Style mobile*/
@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        display: flex;
        position: absolute;
        top: 18px;
        left: 10px;
        width: 80px;
        height: 80px;
    }

    .navbar .menu-hamburger {
        display: block;
        z-index: 3;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(143, 136, 136, 0.3);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        z-index: 2;
        transition: all 0.5s ease;
    }

    .navbar a {
        color: rgb(255, 255, 255);
    }

    /*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

    /*l'apparition et fermeture du menu*/
    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 20px 0;
        font-size: 1.3em;
    }

    /*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
    /*style contenu*/
    .container_img h1 {
        font-weight: normal;
        font-size: 25px;
        position: relative;
        margin: 40px 0;
    }

    header {
        position: relative;
        top: 100px;
    }

    .photo-gallery {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .pic {
        position: relative;
        height: 110px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
        transition: .5s;
    }

    .pic img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }

    .pic::before {
        content: "VARENN GALERIE";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        width: 100%;
        margin-top: -100px;
        opacity: 0;
        transition: .3s;
        transition-delay: .2s;
        z-index: 1;
    }

    .pic::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, .4);
        bottom: 0;
        left: 0;
        border-radius: 10px;
        transition: .3s;
    }

    .pic:hover::after {
        height: 100%;
    }

    .pic:hover::before {
        margin-top: 0;
        opacity: 1;
    }

    .popup-imag span {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }


}



/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*style footer*/
footer {
    background-color: #111;
    height: auto;
    width: 100vw;
    padding-top: 30px;
    color: #fff;
    position: relative;
    top: 80px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content .socials li a {
    color: red;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-sqacing: 2px;
    text-transform: capitalize;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.image-slider {
    height: 200px;
    overflow: hidden;
    top: 50px;
    position: relative;
}

.slider-container {
    display: flex;
    animation: slide 20s infinite;
}

.slider-container img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
        /* Commence sans décalage */
    }

    100% {
        transform: translateX(-100%);
        /* Défilement complet vers la gauche */
    }
}

/*Style mobile*/
@media screen and (max-width: 900px) {

    /*image slider*/
    .image-slider {
        height: 200px;
        top: 40px;
        position: relative;
    }

    .slider-container img {
        width: 120px;
        height: auto;
        margin-right: 10px;
    }
}